
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <%= image_tag('logo.png', width: '60', height: '60', class: 'd-inline-block align-top', alt: '')%>
  </a>
 
  <form class="form-inline mx-5">
    <a type="button" class="btn btn-light mx-2" href="/users/sign_in">Log In</a>
    <a type="button" class="btn btn-light" href="/users/sign_up">Sing Up</a>
  </form>
</nav>