<div class="card mb-3">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="align-items-center d-flex justify-content-center">
            <button class="btn btn-light mt-3"><</button>
            <button class="btn btn-light mt-3 mx-2" disable>1</button>
            <button class="btn btn-light mt-3">></button>
        </div>
    </div>
</div>