 @import 'bootstrap';

 .tasks-card {
    height: calc(100vh - 200px); /* Adjust the height as needed */
    overflow-y: auto;
  }
  .user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  .selected {
    border: 2px solid blue;
  }
  .user-icon-task-row {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  .btn-transparent {
    background-color: transparent;
    border: none;
    padding: 0;
    }